[Unit]
Description = "MQTT ePaper subscriber"
After = "network.target"

[Service]
ExecStart=/home/pi/mqttphat/mqtt.py

[Install]
WantedBy=default.target
