[Unit]
Description = "MQTT ePaper subscriber"
After = "network.target"

[Service]
ExecStart=/home/pi/mqttphat/mqtt.py
Restart=always

[Install]
WantedBy=default.target
